<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<hr/><hr/>

<h1>Demonstrating applyPure pipe</h1>
<a href="https://github.com/simars/ngx-mix-libraries/blob/master/projects/ngx-mix/src/lib/pipe/apply" target="_blank">
  Checkout source of `apply` and `applyPure` *Pipes*
</a>
<h2>Fulfilling your <em>pipe</em> dream in <em>templates</em> while keeping one-off (non-reusable) transform functions in the <em>components</em> | Inspired by <em>Kotlin's .apply</em></h2>
<h2>We will also learn here essential difference between <em>pure</em> and <em>impure</em> pipes </h2>
<app-apply-pipe></app-apply-pipe>
<app-apply-pure-pipe></app-apply-pure-pipe>

<hr/>

<h1>Demonstrating @AsyncInput meta decorator</h1>
<app-async-input-driver></app-async-input-driver>

<hr/>
